ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li img {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li img:hover {
    background-color: #111;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
input {
    margin-top: 20px;
    width: 100px;
}
#logo { height: 10px; width: 10px; overflow: hidden; }