ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li img {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li img:hover {
    background-color: #111 !important;
}

li label {
    color: gray;
    font-family: monospace;
    font-size: xx-large;
    margin-top: 20px;
}

/* Share link field */
input {
    margin-top: 20px;
    width: 100px;
}

.link-tools .tool-remove {
    display: none
}

#logo {
    height: 10px;
    width: 10px;
    overflow: hidden;
}
  #paper { float: left;
        height:90vh;
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
        width: calc(100% - 200px);
        overflow-x:scroll;
        margin-top: 60px;
        }
        #uipaper { float: right;
         margin-top: 60px;

         height:90vh;
         }

    @media print
    {
    body * { visibility: hidden; }
    #paper * { visibility: visible; }
    #paper { position: absolute; top: 40px; left: 30px; }
    }
    .html-element label {
    color: #333;
    text-shadow: 1px 0 0 lightgray;
    font-weight: bold;
    }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.gelb {
    background-color: #F4D03F;
    color: black;
    border: 2px solid #F4D03F;
}





.gelb:hover {
    background-color: #F4D03F;
    color: #F4D03F;
}

.orange {
    background-color: #ff8450;
    color: black;
    border: 2px solid #ff8450;
}

.orange:hover {
    background-color: #ff8450;
    color: white;
}



.blau {
    background-color: #00BFFF;
    color: black;
    border: 2px solid #00BFFF;
}

.blau:hover  {
    background-color: #00BFFF;
    color: white;
}



.gruen {
    background-color: #A5DF00;
    color: black;
    border: 2px solid #A5DF00;
}

.gruen:hover {
    background-color: #A5DF00;
    color: white;
}

.not_selected {
    background-color: white;
}
