<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/joint.css"/>
    <title>CommUML v1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<ul>
    <li>
        <div class="logo">
            <a href="/TestManual.pdf" target="_blank">
            <img src="/images/HelpIcon.png"  alt="Help" title="Help"/>
            </a>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/ClassIcon.png" onclick="addClassDiagram()" alt="Klasse" title="Klasse"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/InheritanceIcon.png" onclick="addInheritance()" alt="Vererbung" title="Vererbung" id="vererbung"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/DirectedAssociationIcon.png" onclick="addDirectedAssociation()" alt="gerichtete Assoziation" title="gerichtete Assoziation" id="gerichtete_Assoziation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/UndirectedAssociationIcon.png" onclick="addUndirectedAssociation()" alt="ungerichtete Assoziation" title="ungerichtete Assoziation" id="ungerichtete_Assoziation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/AggregationIcon.png" onclick="addAggregation()" alt="Aggregation" title="Aggregation" id="aggregation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/CompositionIcon.png" onclick="addComposition()" alt="Komposition" title="Komposition" id="komposition"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/DeleteIcon.png" onclick="deleteMode();" alt="Löschen" title="Löschen" id="delete"/>
        </div>
    </li>
    <li>
        <input class="textfield" type="text" id="link" name="Link" alt="Link" title="Link" value="http://www.commuml.de/khgafguzguzaszugiuewz71234"/>
    </li>
    <li>
        <div class="logo">
            <img src="/images/ShareIcon.png" onclick="share()" alt="Teilen" title="Teilen"/>
        </div>
    </li>
    <li>
        <div class="logo">

            <img id="uploadIMG" src="/images/UploadButton.png" alt="Hochladen" title="Hochladen" style="cursor:pointer"/>
            <input id="the-file-input" name="the-file-input" type="file" style="display:none"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <a id="downloadButton">
                <img src="/images/DownloadButton.png" onclick= "clearModes()" alt="Herunterladen" title="Herunterladen"/>
            </a>
        </div>
    </li>
    <li>
        <label title="Entwickelt von: Carolin Dohmen, Philipp Goemann, Florian Nehmer, Lukas Reinkemeier, Alena Störmer, Falco Winkler" alt="Entwickelt von: Carolin Dohmen, Philipp Goemann, Florian Nehmer, Lukas Reinkemeier, Alena Störmer, Falco Winkler">commUML v1.0</label>
    </li>
</ul>
<input type="hidden" id="uniqeIdStore" value="${id}" th:value="${id}"/>
<div id="paper" ></div><div id="uipaper" ></div>

<script src="/js/jquery.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/joint.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
<script src="/js/umlcd.js"></script>

</body>
</html>
