<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/joint.css"/>
    <title>CommUML v1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        #paper { float: left;
        height:90vh;
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
        width: calc(100% - 200px);
        overflow-x:scroll;
        margin-top: 60px;
        }
        #uipaper { float: right;
         margin-top: 60px;}



    </style>
</head>
<body>
<ul>
    <li>
        <div class="logo">
            <img src="/images/ClassIcon.png" onclick="addClassDiagram()" alt="Klasse" title="Klasse"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/InheritanceIcon.png" onclick="addInheritance()" alt="Vererbung" title="Vererbung"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/DirectedAssociationIcon.png" onclick="addDirectedAssociation()" alt="gerichtete Assoziation" title="gerichtete Assoziation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/UndirectedAssociationIcon.png" onclick="addUndirectedAssociation()" alt="ungerichtete Assoziation" title="ungerichtete Assoziation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/AggregationIcon.png" onclick="addAggregation()" alt="Aggregation" title="Aggregation"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/CompositionIcon.png" onclick="addComposition()" alt="Komposition" title="Komposition"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/DeleteIcon.png" onclick="deleteMode();" alt="Annotation" style="padding-left: 60px" title="Löschen" id="delete"/>
        </div>
    </li>
    <li>
        <input class="textfield" type="text" id="link" name="link" title="link" value="http://www.commuml.de/khgafguzguzaszugiuewz71234"/>
    </li>
    <li>
        <div class="logo">
            <img src="/images/ShareIcon.png" onclick="share()" alt="Teilen" title="Teilen"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <img src="/images/UploadButton.png" onclick="upload()" alt="Hochladen" title="Hochladen"/>
        </div>
    </li>
    <li>
        <div class="logo">
            <a id="downloadButton" href="javascript:download();" download="UML-JSON">
            <img src="/images/DownloadButton.png" alt="Herunterladen" title="Herunterladen"/>
            </a>
        </div>
    </li>
    <li>
        <label>commUML v1.0</label>
    </li>
</ul>
<input type="hidden" id="uniqeIdStore" value="${id}" th:value="${id}"/>
<div id="paper" ></div><div id="uipaper" ></div>

<script src="/js/jquery.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/joint.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
<script src="/js/umlcd.js"></script>

</body>
</html>
